
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "微软雅黑";
	font-size: 16px
}

li,ol,ul {
	list-style: none
}

img {
	vertical-align: top;
	border: 0
}
.clear:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden
}
b,strong {
	font-weight: 400
}

em,i {
	font-style: normal
}
h1,h2,h3,h4,h5,h6 {
	font-size: 16px;
	font-weight: 400
}

a,u {
	text-decoration: none
}
input {
	outline: 0
}

.fl {
	float: left
}

.fr {
	float: right
}


.clear-fix {
	zoom: 1
}

.lis,.logo {
	float: left
}

.lis,.lis a {
	color: #8d8d8d;
	font-size: 15px
}

.note,.regist-button,.regist-title {
	text-align: center
}

#header {
	width: 100%;
	height: 50px;
	background: #fff;
	position: static;
	top: 0;
	left: 0;
	z-index: 99;
	min-width: 1310px
}

.logo {
	width: 50px;
	height: 50px;
	transition: all .2s;
	position: absolute
}

.header-content {
	width: 1200px;
	height: 50px;
	margin: 0 auto
}

.lis {
	line-height: 49px;
	margin-right: 22px
}

.name,.title {
	font-size: 13px
}

.header-phone {
	float: right;
	width: 30px;
	height: 50px;
	padding: 13.5px 0;
	position: relative;
	box-sizing: border-box;
	margin-left: 20px
}

.captcha,.go_login,.note,.phone-hov,.regist-msg {
	float: left
}

.phone-hov {
	display: none;
	position: absolute;
	left: -100px;
	top: 50px;
	width: 198px;
	z-index: 100;
	background: #fff
}

.name,.phone-hov img,.title {
	width: 80px;
	display: inline-block
}

.phone-hov ul {
	border-radius: 5px;
	overflow: hidden
}

.phone-hov ul li {
	height: 105px;
	padding: 12px 0 0 12px;
	box-sizing: border-box;
	border-bottom: 1px solid #efefef
}

.phone-hov img {
	height: 80px
}

.title {
	margin-top: 5px;
	margin-left: 10px
}

.name {
	color: #f10315;
	margin-top: 10px
}

.captcha,.phone-person {
	color: #8c8c8c;
	border: 1px solid #d6d6d6
}

#regist {
	width: 358px;
	margin: 60px auto 140px;
	background-color: #fff;
	padding: 52px 249px 64px
}

.regist-title {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 40px
}

.captcha,.phone-person,.pwd,.repwd {
	padding-left: 15px;
	margin-bottom: 14px;
	padding-right: 50px
}

.regist-item,.regist-main {
	position: relative
}

.phone-person {
	width: 291px;
	height: 48px;
	line-height: 48px;
	font-size: 14px
}

.icon-clear {
	position: absolute;
	right: 14px;
	top: 17px;
	width: 16px;
	height: 16px;
	background: url(../images/icon-delete.png) 50% no-repeat;
	cursor: pointer;
	display: none
}

.captcha,.note,.pwd,.repwd {
	height: 48px;
	line-height: 48px;
	font-size: 14px
}

.error-delete {
	background: url(../images/err-bg.png)
}

.captcha {
	width: 180px
}

.note {
	width: 110px;
	border: 1px solid #d6d6d6;
	border-left: 0;
	background-color: #f7f7f7;
	color: #3680c1
}

.pwd,.repwd {
	width: 291px;
	border: 1px solid #d6d6d6;
	color: #8c8c8c
}

.regist-error {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #ef1c22;
	display: none
}

.icon-error {
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 4px;
	background: url(../images/err.png) 50% no-repeat;
	background-size: cover
}

.regist-msg {
	margin-left: 8px
}

.regist-button {
	width: 358px;
	height: 50px;
	line-height: 50px;
	display: block;
	background-color: #e22319;
	font-size: 14px;
	color: #fff;
	margin-top: 10px
}

.regist-agreement {
	margin-top: 10px;
	line-height: 24px;
	font-size: 12px;
	color: #757575
}

.agreementInfo {
	line-height: 20px;
	display: inline-block;
	padding-bottom: 17px;
	border-bottom: 1px solid #e0e0e0
}

.agreementInfo a {
	color: #424242;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 13px
}



.go-companyRegist a,.go-other a {
	color: #424242;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 13px
}

.go-companyRegist {
	float: right
}

.go-other {
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin-top: 13px
}