*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "微软雅黑";
	font-size: 16px
}

li,ol,ul {
	list-style: none
}

img {
	vertical-align: top;
	border: 0
}
.clear-fix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden
}
b,strong {
	font-weight: 400
}

em,i {
	font-style: normal
}
h1,h2,h3,h4,h5,h6 {
	font-size: 16px;
	font-weight: 400
}

a,u {
	text-decoration: none
}
input {
	outline: 0
}

.fl {
	float: left
}

.fr {
	float: right
}


.clear-fix {
	zoom: 1
}
.top_login_r {
	width: 78px;
	position: relative;
	float: right;
	z-index: 9999
}

.top_login {
	padding-top: 11px;
	cursor: pointer;
	float: right
}

.top_login li {
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 0 10px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff
}

.top_login li a {
	color: #fff;
	font-size: 13px
}
.top_phone,.top_phone ul {
	z-index: 9999;
	display: none
}

.top {
	height: 38px;
	background: #000;
	min-width: 1200px
}

.top-con {
	width: 1200px;
	height: 38px;
	line-height: 38px;
	color: #fff;
	margin: 0 auto
}



.bc_table tr a,.buycart {
	color: #000
}

.top_phone {
	position: relative;
	float: right;
	padding-right: 20px;
	width: 70px
}

.top_phone_title {
	height: 38px;
	line-height: 38px;
	position: relative;
	cursor: pointer;
	padding-left: 10px;
	font-size: 14px
}

.UserNameID {
	float: left
}

.top_phone_title a {
	float: right;
	width: 6px;
	height: 4px;
	line-height: 38px;
	margin-left: 5px
}

.top_phone ul {
	width: 140px;
	border: 1px solid #d3d3d3;
	position: absolute;
	right: 0;
	top: 38px;
	background: #fff;
	padding-top: 10px
}

.top_phone ul li {
	line-height: 28px;
	height: 28px;
	text-align: center
}

.top_phone ul li a {
	color: #000;
	font-size: 13px
}

ul.top_login li {
	float: left;
	height: 14px;
	line-height: 14px;
	padding: 0 10px;
	border-right: 1px solid #fff
}

.top_img {
	width: 1200px;
	margin: 0 auto;
	padding: 30px 0
}

.top_imgs {
	float: left
}

.top_imgss {
	float: right
}

.cart {
	width: 1200px;
	margin: 40px auto 0;
	background: #fff
}

.bc_table table {
	width: 100%;
	border: 1px solid #d9d8d6;
	border-bottom: 0;
	margin-bottom: 10px
}

.bc_table tr th {
	height: 36px;
	line-height: 36px;
	font-weight: 400;
	font-size: 15px;
	background: #f8f8f8
}

.bc_table tr td {
	font-size: 14px;
	padding: 0;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #d9d8d6
}

.bc_table_img img {
	height: 115px;
	width: 115px
}

.bc_zhezhao {
	padding-top: 5px;
	position: relative
}

.i-box input[type=button] {
	width: 20px;
	height: 20px;
	background: #eee;
	float: left;
	border: 1px solid #d2d2d2
}

.i-box input[type=text] {
	width: 54px;
	text-align: center;
	height: 18px;
	line-height: 18px;
	float: left;
	border: 0;
	border-top: 1px solid #d9d8d6;
	border-bottom: 1px solid #d9d8d6;
	font-size: 14px
}

#submit,.bc_num {
	border: 1px solid #d9d8d6
}

.bc_red {
	color: #e2231a
}

.bc_num {
	background: #f8f8f8;
	margin-top: 15px;
	padding: 14px 15px
}

.bc_num .bc_num_fl {
	float: left;
	font-size: 13px
}

.bc_num .bc_num_fl .bc_all {
	float: left
}

.bc_num_del {
	float: left;
	margin-left: 28px;
	color: #000
}

.bc_num_fr {
	float: right;
	text-align: right;
	font-size: 16px
}

.bc_num_fr li {
	margin-top: 13px
}

.bc_probtn {
	padding: 15px 0 55px
}

#submit {
	float: right;
	width: 160px;
	height: 38px;
	line-height: 38px;
	background: #e2231a;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 20px
}