*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "微软雅黑";
	font-size: 16px
}

li,ol,ul {
	list-style: none
}

img {
	vertical-align: top;
	border: 0
}
.clear-fix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden
}
b,strong {
	font-weight: 400
}

em,i {
	font-style: normal
}
h1,h2,h3,h4,h5,h6 {
	font-size: 16px;
	font-weight: 400
}

a,u {
	text-decoration: none
}
input {
	outline: 0
}

.fl {
	float: left
}

.fr {
	float: right
}


.clear-fix {
	zoom: 1
}
header{
	width: 100%;
	height: 53px;
}
header .header-con{
	width: 1920px;
	height: 53px;
	margin: 0 auto;
}

#header {
	position: relative;
	height: 53px
}

.header-text {
	width: 1349px;
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: #fff;
	margin: 0 auto
}

.header-left {
	float: left
}

.header-right {
	float: right
}

.header-list>li {
	float: left;
	line-height: 53px;
	font-weight: bolder;
	padding: 0 16px
}

.header-list li:first-child {
	padding-left: 0
}

.header-list li a {
	color: #121212
}

.header-list li:first-child img {
	width: 173px;
	height: 53px
}
.list>li {
	float: left;
	line-height: 53px;
	cursor: pointer;
	padding-right: 10px;
}
.list img{
	line-height: 53px;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 10px;
	margin-right: 10px;
}
.list li:first-child {
	margin-right: 49px;
	position: relative;
	top: 0;
	left: 0
}

.list li:first-child img {
	width: 22px
}

.list li:last-child {
	padding-right: 49px;
	margin-left: 10px
}

.list li span {
	font-size: 14px;
	color: #121212
}

.hd-login-show {
	margin-right: 17px;
	position: relative;
	display: none
}

.loginUserName {
	color: #121212;
	width: 84px;
	display: inline-block
}

.first-phone {
	position: absolute;
	display: none;
	height: 0;
	opacity: 1;
	text-align: center;
	right: 60px;
	top: 50px;
	background-color: #fff;
	padding: 10px 5px;
	width: 130px;
	border: 1px solid #d3d3d3
}

.shangping {
	width: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid #fff;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	position: absolute;
	top: -16px;
	left: 39%;
	z-index: 9999
}

.top-phone p {
	line-height: 20px;
	font-size: 12px
}

.list li i {
	display: inline-block;
	margin: 0 5px;
	height: 16px;
	width: 2px;
	background-color: #ccc
}

.list li:last-child img {
	width: 22px
}

.list li b {
	position: absolute;
	width: 19px;
	height: 19px;
	line-height: 18px;
	padding-left: 2px;
	top: 4px;
	background: red;
	border-radius: 50% 50% 50% 0;
	right: 28px;
	color: #fff
}



#banner,.banner-num,.content-chren-li,.loginUserName,.name,.ul-top {
	overflow: hidden
}

.berif,.loginUserName,.name {
	text-overflow: ellipsis
}

.news-banner-para,.news-item,.news-left,.tab-top-list {
	box-sizing: border-box
}



.header-nav,.header-ng-box {
	position: absolute;
	left: 0;
	width: 100%
}

.header-nav {
	top: 53px;
	height: 57px;
	background: #f2f2f2;
	z-index: 1;
	padding-left: 75px;
	display: none
}

.header-ng {
	display: inline-block;
	height: 57px;
	text-align: left;
	padding-right: 64px
}

.header-ng p {
	display: inline-block;
	height: 57px;
	line-height: 57px;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	color: #616161;
	cursor: pointer
}

.header-ng-box {
	background: #fff;
	padding: 43px 0 43px 43px;
	text-align: left;
	display: none
}

.header-ng-list {
	float: left;
	padding-left: 31px;
	border-left: 1px solid #d6d6d6
}

.header-ng-list:first-child {
	border-left: 0
}

.header-ng-list li {
	line-height: 25px;
	font-size: 12px
}

.active {
	display: block!important
}

.title {
	height: 24px;
	margin-bottom: 12px;
	font-size: 14px
}

.header-ng-list li a {
	color: #898989;
	font-weight: 400
}

.title a {
	color: #898989!important;
	font-weight: bolder!important
}

.search-box {
	margin: 0 auto;
	position: relative;
	width: 550px;
	display: none
}

.search-para {
	position: relative;
	height: 45px;
	line-height: 45px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 0;
	background: #fbfbfb
}

.search-img {
	width: 22px;
	height: 22px;
	margin-left: 16px
}

.search-input {
	display: inline-block;
	margin-left: 1em;
	height: 18px;
	width: 400px;
	font-size: 16px;
	line-height: 18px;
	border: 0;
	outline: 0;
	background: 0 0
}

.banner-num,.search-close {
	font-size: 0;
	text-align: center
}

.search-close {
	position: absolute;
	right: 16px;
	top: 0;
	height: 45px;
	line-height: 45px
}

.search-close-img {
	width: 20px;
	height: 20px;
	cursor: pointer
}

#banner {
	width: 1349px;
	height: 491.82px;
	position: relative;
	z-index: 0
}

.banner-list {
	width: 14839px;
	transition: .7s
}

.banner-box {
	height: 491.82px;
	width: 1349px;
	float: left;
	cursor: pointer
}

.banner-img {
	width: 100%
}

.banner-dir {
	position: absolute;
	top: 49%;
	width: 100%;
	display: none
}

.banner-left,.banner-right {
	width: 30px;
	height: 52px;
	position: absolute
}

.banner-left {
	left: 32px;
	background: url(../images/left.png) no-repeat
}

.banner-right {
	right: 32px;
	background: url(../images/right.png) no-repeat
}

.banner-num {
	width: 100%;
	position: absolute;
	bottom: 24px;
	z-index: 10;
	height: 28px;
	line-height: 28px
}

.banner-num span {
	display: inline-block;
	margin: 0 7px;
	width: 24px;
	height: 24px;
	text-align: center
}

.banner-num span i {
	display: inline-block;
	width: 2px;
	height: 8px;
	background: #fff
}

.circle {
	width: 15px;
	height: 16px;
	opacity: 1;
	border: 1px solid #fff;
	border-radius: 50%
}

#table {
	padding-bottom: 50px;
	padding-top: 10px;
	background-color: #f9f9f9
}

.table-navtop {
	width: 1200px;
	height: 63px;
	margin: 0 auto
}

.ul-top {
	border: 1px solid #d7dde3;
	border-right: 0;
	border-bottom: 0
}

.table-top-list {
	width: 19%;
	float: left;
	text-align: center;
	line-height: 63px;
	height: 63px;
	background: #eee;
	border-right: 1px solid #d7dde3;
	font-size: 14px;
	color: #1b1811;
	font-weight: 600;
	cursor: pointer;
	position: relative
}

.table-top-title {
	width: 95%;
	height: 92%;
	display: inline-block
}

.table-top-list img {
	position: absolute;
	right: 30px;
	top: 22px;
	transition: all .3s;
	display: none
}

.table-content {
	width: 1200px;
	height: 1024px;
	margin: 0 auto;
	display: none
}

.table-content-list {
	float: left;
	width: 12%;
	height: 140px;
	text-align: center;
	background: #f9f9f9;
	cursor: pointer
}

.table-content-list img {
	width: 40px;
	height: 40px;
	margin-top: 35px
}

.img2 {
	display: none
}

.table-content-list p {
	margin-top: 5px;
	color: #616161;
	font-size: 12px
}

.content-chren {
	width: 100%;
	height: 356px;
	display: none
}

.content-chren-list {
	overflow: hidden;
	background-color: #fff;
	width: 1200px;
	margin: 0 auto
}

.content-chren-li {
	width: 393px;
	height: 355px;
	float: left;
	background: #eee;
	position: relative;
	margin-right: 10px
}

.content-chren-img {
	margin-left: -25%;
	margin-top: 70px;
	transition: all .2s;
	width: 230px;
	height: 230px
}

.content-chren-para {
	transition: all .5s;
	position: absolute;
	left: 42%;
	top: 35%;
	height: 35%;
	width: 190px
}

.name {
	font-size: 16px;
	color: #3b3e40;
	line-height: 30px;
	word-break: break-all
}

.berif {
	color: #798187;
	font-size: 14px;
	padding-right: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 38px;
	overflow: hidden
}

#action,#changcase {
	position: relative;
	padding: 10px 10px 50px;
	min-height: 20px;
	overflow: hidden
}

.pric {
	color: #232323;
	font-size: 22px;
	line-height: 60px;
	font-weight: 600
}

.activity-h2,.case-h2,.news-h2 {
	font-weight: bolder
}

.table-banner {
	width: 1200px;
	height: 521px;
	margin: 10px auto
}

.table-banner-left {
	float: left;
	width: 595px;
	height: 520px
}

.table-banner-bottom,.table-banner-top {
	width: 595px;
	height: 255px
}

.table-banner-right {
	float: right
}

.table-banner-bottom {
	margin-top: 10px
}

.table-banner img {
	width: 100%;
	height: 100%;
	transition: all .2s
}

#changcase {
	width: 1190px;
	margin: 0 auto
}

.changcase-h2 {
	float: left;
	font-size: 26px;
	line-height: 3
}

.changcase-h2 img {
	vertical-align: super;
	width: 15px
}

.changcase-more {
	float: right;
	font-size: 16px;
	color: #3b3e40;
	margin-top: 34px
}

.changcase-more img {
	width: 10px;
	vertical-align: middle;
	margin-left: 6px
}

.changcase-list {
	width: 390px;
	margin-right: 6px;
	height: 395px;
	float: left
}



.banner-num span,.banner-num span i,.enter-list li i,.enter-list li:first-child img,.enter-list li:last-child img,.hd-login-show,.loginUserName,.search-close-img,.search-img,.search-input {
	vertical-align: middle
}
.enter-list li b,.loginUserName {
	text-align: center;
	font-size: 12px
}

.loginUserName,.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}



#action {
	width: 1199px;
	margin: 0 auto
}

.action-h2 {
	float: left;
	font-size: 26px;
	line-height: 3
}

.action-h2 img {
	vertical-align: super;
	width: 15px
}

.action-more {
	float: right;
	font-size: 16px;
	color: #3b3e40;
	margin-top: 34px
}

.action-more img {
	width: 10px;
	vertical-align: middle;
	margin-left: 6px
}

.action-list {
	width: 393px;
	margin-right: 6px;
	height: 395px;
	float: left
}
#news {
	width: 1200px;
	height: 680px;
	margin: 0 auto
}

.news-title {
	height: 95px
}

.news-h2 {
	float: left;
	font-size: 28px;
	line-height: 2;
	margin-top: 25px
}

.news-h2 img {
	vertical-align: super;
	width: 15px
}

.news-more {
	float: right;
	margin-top: 48px;
	font-size: 16px;
	color: #3b3e40
}

.news-banner,.news-banner-li {
	float: left;
	position: relative
}

.news-more img {
	width: 10px;
	vertical-align: middle;
	margin-left: 6px
}

.news-banner {
	width: 595px;
	height: 520px;
	overflow: hidden
}

.news-banner-list {
	width: 2380px;
	overflow: hidden;
	position: relative
}

.news-banner-li {
	display: none
}

.news-banner-para {
	width: 100%;
	height: 129px;
	background: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 25px
}

.news-banner-para p {
	color: #fff;
	font-size: 18px;
	width: 420px;
	line-height: 1.7
}

.news-banner-para i {
	display: inline-block;
	width: 22px;
	height: 18px;
	background: url(../images/dir.png);
	position: absolute;
	right: 40px;
	bottom: 50px
}

.news-circle {
	margin: 0 auto;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center
}

.news-circle-span {
	display: inline-block;
	width: 15px;
	height: 3px;
	transition: all .2s;
	background: #fff
}

.news-word {
	float: right;
	height: 520px;
	width: 595px
}

.news-item {
	height: 167px;
	background: #fff;
	margin-bottom: 10px;
	padding: 20px
}

.news-left {
	float: left;
	border-right: 1px solid #ebebeb;
	height: 100%;
	width: 147px;
	padding-left: 30px;
	padding-bottom: 29px;
	margin-top: 5px
}

.news-left h3 {
	font-size: 26px;
	font-weight: 500;
	border-bottom: 1px solid #ccc;
	width: 30px;
	line-height: 1.5;
	margin-top: 30px
}

.news-left p {
	font-size: 14px;
	color: #798187;
	margin-top: 10px
}

.news-right {
	float: right;
	width: 382px;
	font-size: 16px;
	color: #798187;
	position: relative;
	height: 125px;
	margin-left: 24px
}

.news-right h3 {
	font-size: 18px;
	font-weight: 400;
	color: #3b3e40
}

.news-right p {
	margin-top: 10px;
	width: 100%
}

.news-right i {
	display: inline-block;
	width: 22px;
	height: 18px;
	background: url(../images/dir.png);
	position: absolute;
	left: 0;
	bottom: 0
}

#hot,.hot-list {
	position: relative
}

#hot {
	width: 1199px;
	min-height: 20px;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 10px 50px
}

.hot-h2 {
	font-size: 26px;
	line-height: 40px;
	font-weight: bolder
}

.hot-h2 img {
	vertical-align: super;
	width: 15px
}

.cn-img,.countries-version,.footer-bot-left {
	vertical-align: middle
}

.hot-list {
	top: 20px;
	left: 0;
	height: 100%;
	width: 2015px;
	z-index: 1;
	transition-duration: .5s
}

.hot-li,.light-fun-wechat,.lightweibo,.wechat-img {
	transition: all .3s
}

.hot-li {
	width: 393px;
	margin-right: 10px;
	float: left
}

.hot-li img {
	width: 100%;
	height: 100%
}

.hot-next,.hot-prev {
	position: absolute;
	top: 45%;
	width: 50px;
	height: 125px;
	border-radius: 10px;
	z-index: 2
}

.hot-prev {
	background: url(../images/prev.png) center center no-repeat rgba(0,0,0,.5);
	left: 11px
}

.hot-next {
	background: url(../images/next.png) center no-repeat rgba(0,0,0,.5);
	right: 11px
}

#footer,.footer-top,.social-plat li {
	position: relative
}

.dark-fun-wechat,.darkweibo,.lightweibo {
	background-image: url(../images/jinglingtu.png)
}

#footer {
	width: 100%;
	margin: 0 auto
}

.footer-content {
	background-color: #272727;
	width: 100%
}

.footer-top {
	width: 1200px;
	margin: auto;
	padding: 42px 0 20px;
	box-sizing: content-box
}

.footer-top li {
	float: left
}

.footer-top li>a {
	display: block;
	font-size: 13px;
	line-height: 14px;
	margin-bottom: 12px;
	color: #bdbdbd
}

.footer-top-title {
	height: 16px!important;
	font-size: 18px!important;
	line-height: 16px!important;
	margin-bottom: 18px!important;
	font-weight: 600!important;
	color: #e0e0e0!important
}

.footer-midd {
	width: 1200px;
	margin: 0 auto;
	border-top: 1px solid rgba(151,151,151,.22);
	font-size: 0
}

.dark-fun-wechat,.darkweibo,.light-fun-wechat,.lightweibo {
	width: 30px;
	height: 30px
}

.footer-midd-ul {
	padding: 20px 0 30px
}

.foot-midd-li {
	float: left;
	margin-right: 37px
}

.hotline-sm {
	font-size: 13px;
	margin-right: 8px;
	color: #bdbdbd
}

.hotline-bg {
	font-size: 16px;
	color: #e0e0e0
}

.foot_midd_li_time {
	font-size: 12px;
	color: #606060
}

.footer-bot,.footer-bot-con a,.select-country {
	font-size: 12px;
	color: #979797
}

.social-plat li {
	float: left;
	margin: 0 7px 0 4px
}

.darkweibo {
	background-position: -4px -3px
}

.lightweibo {
	display: none;
	background-position: 0 -63px
}

.dark-fun-wechat {
	background-position: -87px -3px
}

.light-fun-wechat {
	display: none;
	background-position: -86px -62px
}

.wechat-img {
	position: absolute;
	width: 132px;
	height: 0;
	left: -55px;
	top: -160px;
	-webkit-transition: all .3s;
	overflow: hidden
}

.wechat-img img {
	width: 132px;
	height: 158px
}

.dark-fun-icon,.light-fun-icon {
	width: 30px;
	height: 30px;
	background-image: url(../images/jinglingtu.png)
}

.dark-fun-icon {
	background-position: -123px -3px
}

.light-fun-icon {
	transition: all .3s;
	display: none;
	background-position: -128px -62px
}

.foot-midd-div {
	height: 24px;
	display: inline-block;
	line-height: 24px;
	margin-right: 20px
}

.light-tieba,.light-weibo-icon {
	display: none;
	width: 81px;
	height: 24px;
	background-image: url(../images/jinglingtu.png)
}

.dark-weibo-icon {
	width: 81px;
	height: 24px;
	background-position: -251px -3px;
	background-image: url(../images/jinglingtu.png)
}

.light-weibo-icon {
	background-position: -266px -62px
}

.dark-tieba {
	width: 81px;
	height: 24px;
	background-position: -155px -5px;
	background-image: url(../images/jinglingtu.png)
}

.light-tieba {
	background-position: -170px -63px
}

.footer-bot {
	background: #000;
	height: 46px
}

.footer-bot-con {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	line-height: 46px
}

.footer-bot-left {
	margin-right: 37px
}

.select-country {
	display: inline-block;
	margin-right: 10px
}

.countries-version {
	position: relative;
	display: inline-block
}

.all-countries {
	position: absolute;
	height: 210px;
	background: #fff;
	border: 1px solid #858585;
	bottom: 19px;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 55;
	width: 184px;
	display: none
}

.cn-img {
	display: inline-block;
	width: 143px;
	height: 18px;
	background-position: -10px -41px;
	background-image: url(../images/jinglingtu.png)
}

.footer-bot-con span {
	margin: 0 6px;
	display: inline-block
}

#ppMask,#login {
	position: fixed;
	display: none
}

#ppMask {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000099;
	background: #000;
	filter: alpha(opacity=30);
	opacity: .3
}

#login {
	width: 330px;
	height: auto;
	padding: 0 125px;
	left: 50%;
	top: 90px;
	margin-left: -290px;
	z-index: 10000100;
	background: #fff
}

.login-close {
	position: absolute;
	right: -66px;
	top: -28px;
	z-index: 111111;
	width: 50px;
	height: 50px;
	background: url(../images/icon-close.png) center no-repeat
}

.clear-telephone,.clear-telephonea {
	right: 14px;
	top: 17px;
	background: url(../images/icon-delete.png) center no-repeat;
	cursor: pointer
}

.login-title {
	margin-top: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 30px
}

.telephone,.telephonea {
	line-height: 44px;
	font-size: 14px
}

.login-fast-box {
	display: block;
	position: relative;
	margin-top: 38px
}

.login-input {
	width: 100%;
	margin-bottom: 14px;
	position: relative
}

.telephone {
	width: 258px;
	border: 1px solid #d6d6d6;
	height: 44px;
	padding-left: 20px;
	padding-right: 50px;
	color: #8c8c8c
}

.notea,.telephonea {
	color: #424242;
	padding-left: 20px;
	padding-right: 50px
}

.focusIn {
	border: 1px solid #424242
}

.clear-telephone {
	position: absolute;
	width: 16px;
	height: 16px;
	display: none
}

.login-normal-box {
	margin-top: 38px;
	position: relative;
	display: none
}

.login-inputa {
	width: 100%;
	margin-bottom: 14px;
	position: relative
}

.telephonea {
	width: 258px;
	border: 1px solid #d6d6d6;
	height: 44px
}

.clear-telephonea {
	position: absolute;
	width: 16px;
	height: 16px;
	display: none
}

.note,.note-btn,.notea {
	border: 1px solid #d6d6d6;
	height: 44px;
	line-height: 44px;
	font-size: 14px
}

.notea {
	width: 258px
}

.note {
	float: left;
	width: 147px;
	padding-left: 20px;
	padding-right: 50px;
	color: #8c8c8c
}

.note-btn {
	float: left;
	width: 110px;
	text-align: center;
	background-color: #f7f7f7;
	color: #3680c1;
	border-left: 0
}

.error-box {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #ef1c22;
	display: none
}

.login-mains-label,.submit {
	display: block;
	font-size: 14px
}

.error-img {
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 5px;
	background: url(../images/err.png) center no-repeat;
	background-size: cover
}

.error-msg {
	float: left;
	margin-left: 8px
}

.login-mains {
	margin: 16px 0
}

.login-mains-input {
	float: left;
	margin-right: 5px
}

.login-mains-label {
	height: 14px;
	line-height: 14px;
	color: #000;
	width: 90px;
	cursor: pointer
}

.submit {
	height: 50px;
	line-height: 50px;
	width: 330px;
	background-color: #e22319;
	text-align: center;
	color: #fff;
	margin: 10px 0 0
}

.login-type {
	float: left;
	color: #ef1c22;
	font-size: 14px;
	line-height: 14px
}

.regist-btn,.reset-btn {
	color: #757575;
	font-size: 14px;
	line-height: 14px
}

.login-p {
	display: none
}

.icon-type,.login-user {
	display: block
}

.login-others {
	float: right
}

.regist-btn {
	border-right: 1px solid #a4a3a3;
	padding-right: 5px;
	float: left
}

.reset-btn {
	float: left;
	border-left: 1px solid #e3e3e3;
	padding-left: 5px
}

.cooperation {
	width: 330px;
	height: 90px;
	margin-top: 40px
}

.cooperation-title {
	text-align: center;
	font-size: 14px;
	color: #8c8c8c;
	line-height: 14px;
	height: 14px
}

.cooperation-title span {
	width: 123px;
	height: 1px;
	background-color: #a4a3a3;
	float: left;
	margin-top: 6px
}

.type-qq,.type-wb,.type-wx,.type-zfb {
	vertical-align: middle;
	width: 31px;
	height: 31px
}

.cooperation-title em {
	float: left
}

.cooperation-items {
	margin-top: 15px;
	padding: 0 60px
}

.cooperation-items a {
	float: left;
	margin-left: 28px
}

.cooperation-items a:first-child {
	margin-left: 0!important
}


.type-wb {
	background: url(../images/weibo.png) center no-repeat
}

.type-wx {
	background: url(../images/weixin.png) center no-repeat
}

.type-zfb {
	background: url(../images/zhifubao.png) center no-repeat
}
.type-qq {
	background: url(../images/qq.png) center no-repeat
}

.icon-type {
	margin: 0 auto
}